using Fsi.DataSystem.Libraries;
using UnityEngine;

namespace [Namespace]
{
	public class [Name]LibraryUsageExample : MonoBehaviour
	{
		// Example usage of the shared LibraryAttribute.
		[Library(typeof([Name]Settings), "Library")]
		public [Data] entry;
	}
}
